<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title>Homeworks pealeht</title>
    <script type="text/javascript" src="webjars/jquery/3.2.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css"/>
	
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Kodutöö tegijad</h1>
        <div class="table-responsive">
        <div class="mobileTD">
            <table class="table table-hover">
                <thead>
                	<tr>
	                    <th th:text="#{person_details.id}">Id</th>
	                    <th th:text="#{person_details.name}">Name</th>
	                    <th th:text="#{person_details.points}">Points</th>
	                    <th th:text="#{person_details.add}">Add homework</th>
	                    <th th:text="#{person_details.reduce}">Add gaming hours</th>
                	</tr>


                </thead>
                <tbody th:each="person : ${persons}" th:remove="tag">
                <tr>
                    <td th:text="${person.getId()}">id</td>
                    <td th:text="${person.getName()}">name</td>
                    <td th:text="${person.getPoints()}">points</td>
                    <td>
                           <button type="submit"  class="buttonGreen"
                                   th:text="#{person_details.add}">Add
                           </button>
                    </td>
                     <td>
                            <button type="submit"  class="buttonGreen"
                                    th:text="#{person_details.reduce}">Add
                            </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
      <div class="row" align="center">
         <div class="col-xs-3 col-sm-3 col-md-3" align="center">
             <input  type="submit" class="btn btn-lg btn-primary btn-block" value="Lisa kasutaja"/>
         </div>
        
     </div>
    <hr/>
	<br/>	 
	<h1>Kodutööd</h1>
	<div class="table-responsive">
        <div class="mobileTD">
            <table class="table table-hover">
                <thead>
                	<tr>
	                    <th th:text="#{housework_details.id}">Id</th>
	                    <th th:text="#{housework_details.name}">Name</th>
	                    <th th:text="#{housework_details.points}">Points</th>
	                   	<th th:text="#{housework_details.change}">Change</th>
	                   	<th th:text="#{housework_details.delete}">Delete</th>
	
                	</tr>


                </thead>
                <tbody th:each="houseworks : ${houseworks}" th:remove="tag">
                <tr>
                    <td th:text="${houseworks.getId()}">id</td>
                    <td th:text="${houseworks.getName()}">name</td>
                    <td th:text="${houseworks.getPoints()}">points</td>
                    
                    <td>
					 	<button type="submit"  class="buttonGreen"
                              th:text="#{housework_details.change}">Change
                         </button>
                    </td>
                    <td>
					 	<button type="submit"  class="buttonGreen"
                              th:text="#{housework_details.delete}">Delete
                         </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row" align="center">
         <div class="col-xs-3 col-sm-3 col-md-3" align="center">
             <input  type="submit" class="btn btn-lg btn-primary btn-block" value="Lisa kodutöid"/>
         </div>
        
     </div>
     <br/>
     <br/>
        
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>