<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title>Homeworks pealeht</title>
    <script type="text/javascript" src="webjars/jquery/3.2.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css"/>
	<script th:src="@{/js/app.js}"></script>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>
<div th:if="${nameError != null}"  class="alert alert-danger alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p th:text="#{dashboard.nameError}"></p>
</div>
<div th:if="${houseworkError != null}"  class="alert alert-danger alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p th:text="#{dashboard.houseworkError}"></p>
</div>
<div th:if="${personhouseworkError != null}"  class="alert alert-danger alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p th:text="#{dashboard.personhouseworkError}"></p>
</div>
<div th:if="${nameSuccess != null}"  class="alert alert-success alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p th:text="#{dashboard.nameSuccess}"></p>
</div>
<div th:if="${houseworkSuccess != null}"  class="alert alert-success alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p th:text="#{dashboard.houseworkSuccess}"></p>
</div>
<div th:if="${houseworkSuccess != personhouseworkSuccess}"  class="alert alert-success alert-dismissible" >
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p th:text="#{dashboard.personhouseworkSuccess}"></p>
</div>
<div th:id="personAddPlayinghoursSuccess"   class="alert alert-success collapse alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p  th:text="#{dashboard.personAddPlayinghoursSuccess}"></p>
</div>
<div th:id="changeHouseworkSuccess"   class="alert alert-success collapse alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p  th:text="#{dashboard.changeHouseworkSuccess}"></p>
</div>



<div class="container">
    <div class="starter-template">
        <h1>Kodutöö tegijad</h1>
        <div class="table-responsive">
        <div class="mobileTD">
            <table class="table table-hover" id="personTable">
                <thead>
                	<tr>
	                    <th th:text="#{person_details.id}">Id</th>
	                    <th th:text="#{person_details.name}">Name</th>
	                    <th th:text="#{person_details.points}">Points</th>
	                    <th th:text="#{person_details.add}">Add homework</th>
	                    <th th:text="#{person_details.reduce}">Add gaming hours</th>
	                    <th th:text="#{person_details.delete}">Delete user</th>
	                    <th th:text="#{person_details.history}">History</th>
                	</tr>


                </thead>
                <tbody th:each="person : ${persons}" th:remove="tag">
                <tr>
                    <td th:text="${person.getId()}">id</td>
                    <td th:text="${person.getName()}">name</td>
                    <td th:id="'person'+${person.getId()}" th:value="${person.getPoints()}" th:text="${person.getPoints()}">points</td>
                    <td>
                           <button type="submit"  class="buttonBlue" data-toggle="modal" 
                        data-target="#personAddHousework"  th:onclick="'submitHouseworkPersonPre(' + ${person.getId()} + ')'"
                                   ><span class="glyphicon glyphicon-plus" ></span>Lisa tehtud kodutööd 
                           </button>
                    </td>
                     <td>
                            <button type="submit"  class="buttonBlue" data-toggle="modal" 
                        			data-target="#addPlayinghours" th:onclick="'addPlayingHoursPre(' + ${person.getId()} + ')'"><span class="glyphicon glyphicon-minus"></span>Lahuta mängitud aega
                            </button>
                    </td>
                    
                    <td>
                    	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" 
                        data-target="#personDelete" th:onclick="'deletePerson(' + ${person.getId()} + ')'">
          					<span class="glyphicon glyphicon-trash"></span> Kustuta 
       					 </button>
                    </td>
                    <td>
                    	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" 
                        data-target="#personHistory" th:onclick="'personHistory(' + ${person.getId()} + ')'">
          					<span class="glyphicon glyphicon-floppy-disk"></span>Ajalugu 
       					 </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
      <div class="row" align="center">
         <div class="col-xs-3 col-sm-3 col-md-3" align="center">
             <input  type="submit" class="btn btn-lg btn-primary btn-block" value="Lisa kasutaja" data-toggle="modal" data-target="#nameModal"/>
         </div>
        
     </div>
    <hr/>
	<br/>	 
	<h1>Kodutööd</h1>
	<div class="table-responsive">
        <div class="mobileTD">
            <table class="table table-hover">
                <thead>
                	<tr>
	                    <th th:text="#{housework_details.id}">Id</th>
	                    <th th:text="#{housework_details.name}">Name</th>
	                    <th th:text="#{housework_details.points}">Points</th>
	                   	<th th:text="#{housework_details.change}">Change</th>
	                   	<th th:text="#{housework_details.delete}">Delete</th>
						
                	</tr>


                </thead>
                <tbody th:each="housework : ${houseworks}" th:remove="tag">
                <tr>
                    <td th:text="${housework.getId()}">id</td>
                    <td th:text="${housework.getName()}">name</td>
                    <td th:id="'housework'+${housework.getId()}" th:text="${housework.getPoints()}">points</td>
                    
                    <td>
					 	<button type="submit"  class="buttonBlue" data-toggle="modal" 
                        			data-target="#changeHousework" th:onclick="'changeHouseworkPre(' + ${housework.getId()} + ')'"><span class="glyphicon glyphicon-pencil"></span>Muuda kodutööd
                         </button>
                    </td>
                    <td>
                    	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" 
                        	data-target="#houseworkDelete" th:onclick="'deleteHousework(' + ${housework.getId()} + ')'">
          					<span class="glyphicon glyphicon-trash"></span> Kustuta 
       					 </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row" align="center">
         <div class="col-xs-3 col-sm-3 col-md-3" align="center">
             <input  type="submit" class="btn btn-lg btn-primary btn-block" value="Lisa kodutöid" data-toggle="modal" data-target="#houseworkmodal" />
         </div>
        
     </div>
     <br/>
     <br/>
        
    </div>

</div>

<!-- Add person modal -->
<div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Lisa uus kasutaja süsteemi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/createperson}" method="post" th:object="${person}">
            <div class="modal-body mx-3">
            	
	                <div class="md-form mb-5">
	                	<label data-error="wrong" data-success="right" for="form34">Sisesta kasutaja nimi</label>
	                    <i class="fa fa-user prefix grey-text"></i>
	                    <input type="text" id="form34" class="form-control validate" th:required="required" th:field="*{name}"/>
	                  
	                    
	                </div>
	
	                <div class="md-form mb-5">
	                	<label data-error="wrong" data-success="right" for="form29">Sisesta punktide arv</label>
	                    <i class="fa fa-envelope prefix grey-text"></i>
	                    <input type="number" id="form29" class="form-control validate" min="0" th:required="required" th:field="*{points}"/>
	                    
	                </div>

	            

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Loo uus kasutaja <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Person delete modal -->
<div class="modal" tabindex="-1" role="dialog" id="personDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kustutamise kinnitamine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Kas oled kindel, et tahad kasutajat kustutada?</p>
      </div>
      <div class="modal-footer">
      	<a id="deletepersonUrl">
       		<button type="button" class="btn btn-primary">Kustuta</button>
       		</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Loobu</button>
      </div>
    </div>
  </div>
</div>

<!-- Houswork add modal -->
<div class="modal fade" id="houseworkmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Lisa uus kodutöö süsteemi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/createhousework}" method="post" th:object="${housework}">
            <div class="modal-body mx-3">
            	
	                <div class="md-form mb-5">
	                	<label data-error="wrong" data-success="right" for="form34">Sisesta kodutöö nimetus</label>
	                    <i class="fa fa-user prefix grey-text"></i>
	                    <input type="text" id="form34" class="form-control validate" th:required="required" th:field="*{name}"/>
	                  
	                    
	                </div>
	
	                <div class="md-form mb-5">
	                	<label data-error="wrong" data-success="right" for="form29">Sisesta kodutöö punktide arv</label>
	                    <i class="fa fa-envelope prefix grey-text"></i>
	                    <input type="number" id="form29" class="form-control validate" min="0" th:required="required" th:field="*{points}"/>
	                </div>

	            

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Loo uus kodutöö <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Person delete modal -->
<div class="modal" tabindex="-1" role="dialog" id="houseworkDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kustutamise kinnitamine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Kas oled kindel, et tahad kodutööd kustutada?</p>
      </div>
      <div class="modal-footer">
      	<a id="deletehouseworkUrl">
       		<button type="button" class="btn btn-primary">Kustuta</button>
       		</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Loobu</button>
      </div>
    </div>
  </div>
</div>


<!-- Person add housework modal -->
<div class="modal" tabindex="-1" role="dialog" id="personAddHousework">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tehtud kodutööde lisamine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vali tehtud kodutööd, mitme kodutöö valimiseks hoia all "Ctrl" nuppu</p>
      </div>
      <form id="idForm" th:action="@{/personAddHousework}" th:object="${houseworkSelect}" method="post">
        <div class="modal-body mx-3">
            	 
	                <div class="md-form mb-5">
	                	<label data-error="wrong" data-success="right" for="form34">Vali tehtud kodutööd</label>
	                    <select class="form-control validate" name="multiple" multiple="multiple" id="test"  th:field="*{select}" th:required="required">
						        <option th:each="houseworks : ${houseworks}" 
				                th:value="${houseworks.id}" 
				                th:text="${houseworks.name}"></option>

  						</select>
  						<input type="hidden" id="personAddHouseworkId" th:field="*{id}" th:required="required"/>               
	                </div>
            </div>
      

      <div class="modal-footer">
       		<button type="submit" class="btn btn-primary">Lisa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Loobu</button>
      </div>
      </form>	
    </div>
  </div>
</div>


<!-- Person add playing time modal -->
<div class="modal" tabindex="-1" role="dialog" id="addPlayinghours">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mänguaja lisamine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div th:id="addHoursAlert"  class="alert alert-danger collapse">
     		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     		<p th:text="#{dashboard.personAddPlayinghoursError}"></p>
		</div>
		<div th:id="addHoursAlert2"  class="alert alert-danger collapse">
     		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     		<p th:text="#{dashboard.personAddPlayinghoursError2}"></p>
		</div>
		<div th:id="addHoursAlert3"  class="alert alert-danger collapse">
     		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     		<p th:text="#{dashboard.personAddPlayinghoursError3}"></p>
		</div>
      	<label data-error="wrong" data-success="right" for="form34">Mitu minutit kasutaja mängis?</label>
        <i class="fa fa-envelope prefix grey-text"></i>
	    <input type="number" id="addPlayinghoursInput" class="form-control validate" value="0" min="0"/>
	    <input type="hidden" id="personaddPlayinghours"/> 
      </div>
      <div class="modal-footer">

       	<button id="submitPlayingHours" type="button" class="btn btn-primary" onclick="addPlayingHours()">Kinnita</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Loobu</button>
      </div>
      
    </div>
  </div>
</div>

<!-- Change housework modal -->
<div class="modal" tabindex="-1" role="dialog" id="changeHousework">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kodutöö muutmine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div th:id="changeHouseworkError"  class="alert alert-danger collapse">
     		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     		<p th:text="#{dashboard.changeHouseworkError}"></p>
		</div>
		
      	<label data-error="wrong" data-success="right" for="form34">Sisestage uus kodutöö punktide arv</label>
        <i class="fa fa-envelope prefix grey-text"></i>
	    <input type="number" id="houseworkpointsInput" class="form-control validate" value="1" min="1"/>
	    <input type="hidden" id="houseworkpointsId"/> 
      </div>
      <div class="modal-footer">

       	<button id="submitPlayingHours" type="button" class="btn btn-primary" onclick="changeHousework()">Kinnita</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Loobu</button>
      </div>
      
    </div>
  </div>
</div>


<!-- Person history modal -->
<div class="modal" tabindex="-1" role="dialog" id="personHistory">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kodutööde ajalugu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="historyBody">
      	<p id="historyTableText"></p>
      	<table class="table table-hover" id="historyTable">
                <thead>
                	<tr>
	                    <th th:text="#{history_details.id}">Id</th>
	                    <th th:text="#{history_details.type}">Type</th>
	                    <th th:text="#{history_details.name}">Name</th>
	                    <th th:text="#{history_details.points}">Points</th>
	                    <th th:text="#{history_details.date}">Date</th>
                	</tr>


                </thead>
                <tbody>
                </tbody>
              </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>